
@{
    ViewData["Title"] = "Services";
}

<h3>We offer a wide range of services including the following:</h3>

<h4>Interact with the list below to see more information.</h4>


    <li><a href="#list1" data-toggle="collapse">Property and Commercial Law</a></li>
        <ul id="list1" class="collapse">
            <li>Farm Sales and Purchases</li>
            <li>Residential Sales and Purchases</li>
            <li>Retirement Village - License to Occupy Arrangements and Residential Care Subsidies</li>
            <li>Refinancing</li>
            <li>Subdivisions</li>
            <li>Buying and Selling Businesses</li>
            <li>Leases</li>
        </ul>
    <li><a href="#list2" data-toggle="collapse">Estate Planning and Wills</a></li>
    <ul id="list2" class="collapse">
            <li>Establishing Family Trusts and Gifting Programmes</li>
            <li>Preparation of Enduring Power of Attorney</li>
            <li>Preparation of Wills</li>
            <li>Estate Administration</li>
            <li>Claims against Estates</li>
    </ul>
    <li><a href="#list3" data-toggle="collapse">Family Law</a></li>
    <ul id="list3" class="collapse">
            <li>Relationship Property and Contracting Out Agreements</li>
            <li>Relationship Property Claims</li>
    </ul>
    <li><a href="#list4" data-toggle="collapse">Employment Law</a></li>
    <ul id="list4" class="collapse">
            <li>Preparation of Employment Agreements and advising on Employment Related Disputes</li>
    </ul>