

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/Placeholder1.png" style="width:100%" ; alt="Image 1" class="img-responsive" />
            <div class="carousel-caption">
                <h3>Placeholder Image 1 [Image Quote 1]</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Placeholder2.png" style="width:100%" ; alt="Image 2" class="img-responsive" />
            <div class="carousel-caption">
                <h3>Placeholder Image 2 [Image Quote 2]</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Placeholder3.png" style="width:100%" ; alt="Image 3" class="img-responsive" />
            <div class="carousel-caption">
                <h3>Placeholder Image 3 [Image Quote 3]</h3>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="container d-flex h-100">
    <div class="row justify-content-left align-self-left">
        <h1>Welcome</h1>

        <p style="border:0px; border-style:solid; border-color:#000000; padding:0.5em; width:100%; ">
            Menzies Marshall Law was established in 1983 by Paul Menzies and operated for
            many years with Paul Menzies and Winston Forrest providing legal services to
            the Winton community. Andrew Marshall joined in 2003, after 16 years of 
            undertaking litigation work in Invercargill, and now runs the practice
            with the most able assistance of Gary Lloyd and dedicated staff Jane Diack 
            and Shelley Wolferstan.
        </p>
    </div>
</div>
<div>
    <div class="btn">
        <a asp-area="" asp-controller="Home" asp-action="About">
            <img src="~/images/AboutUsPlaceHolder.png" style="width:80%" ; alt="ImageButton 1" class="img-responsive" />
        </a>
    </div>
    <div class="btn">
        <a asp-area="" asp-controller="Service" asp-action="Index">
            <img src="~/images/ServicesPlaceHolder.png" style="width:80%" ; alt="ImageButton 2" class="img-responsive" />
        </a>
    </div>
    <div class="btn">
        <a asp-area="" asp-controller="Home" asp-action="Contact">
            <img src="~/images/ContactPlaceHolder.png" style="width:80%" ; alt="ImageButton 3" class="img-responsive" />
        </a>
    </div>
</div>