
@{
    ViewData["Title"] = "Services";
}

<h2>Services</h2>

<ul>
    <li><a href="#demo" data-toggle="collapse">Buying and selling homes, businesses and farms</a></li>
    <div id="demo" class="collapse">
        The rules for overseas people buying or building residential property in New Zealand have changed. In general, only residents and citizens can buy homes to live in, but other investment opportunities are available. Use this tool to understand who is able to buy and who needs to apply for consent.
        <a href="">more</a>
    </div>
    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Wills and estate administration.</a></li>
    <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Civil claims - prosecution and defence</a></li>
    <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Family trusts</a></li>
    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Resolving relationship property issues</a></li>
    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">WINZ applications for Residential care Subsides</a></li>
    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Enduring Powers of Attorney</a></li>
    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Debt recovery</a></li>
    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">General Legal advice </a></li>
</ul>